div.barra {
    background-color: white;
    width: 100%;
    margin-left: -6px ;
margin-top: -10px;
    height: 150px;
   padding-top: -4px;
  
}
h1{
    font-family: 'Mulish', sans-serif;
    font-size: 45px ;
}

div.logo {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

div.notificaciones{
   float: left;
   margin-left: 200px;
   margin-top: 30px;
   margin-right: 100px;
   
}
div.buscar_espe {
    
    float: left;
    margin-top: 30px;
    margin-right: 100px;
    position: relative;
}

div.buscar_espe::after{
    background-image: url(https://live.staticflickr.com/65535/50155770048_fb5229c940_w.jpg);
    background-repeat: no-repeat;
    content: "";
    width: 80%;
    height: 30%;
    position: absolute;
    bottom: -15px;
    left: 10px;
    z-index: 1;

}

div.buscar_serv {
    float: left;
    margin-top: 30px;
   margin-right: 100px;
}   

div.menu {
    float: left;
    margin-top: 30px;
   margin-right: 50px;
}   

.barra button {
    border: none; 
    background-color: white; 
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
    border-radius: 5px; 
    padding: 10px;
    width: 100%;
    text-transform: uppercase;}
.barra button:hover {
    border: none; 
    background-color: #f1f6f7; 
    
    cursor: pointer;} 

a{
    text-decoration: none;
}

div.frase{
    font-family: 'Mulish', sans-serif;
   border: none;

width: 700px;
   height: 90px;
  margin-left: auto;
  margin-right: auto;
   
   margin-top: 350px;
   height: 200px;
   float: left;
}

.frase p{
border: none;

text-align: center;
margin-top: 30px;
color: black;
font-family: 'Seymour One', sans-serif;
font-size: 50px;

}

p.frase{
    
}
div.ubicacion{
    
float: left;
margin-top: 0px;
margin-right: ;

}



div.ubicacion2{
    
    float: left;
    margin-top: 300px;
    
    
}



div.confirmacion{
    margin-left: 150px;
    margin-top: 100px;
  
}